*{
    font-family: 'Kufam', cursive;
}
.jumbotron{
    background-color: rgb(124, 172, 172)
}
h1{
    font-weight: 400!important;
    margin-top: 10px;
}
.container{
    max-width: 100%;
}
.input-group{
    max-width: 100%;
}
#search{
    width: 100%;
    margin-bottom: 10px;
}
#search:hover{
    background-color: rgb(143, 143, 143);
    color:white;
}
.card{
    background-color: rgb(124, 172, 172);
    text-align: center;
    font-weight: bold;
    color:white;
    width: 80%;
}
#current .p5{
    color:black;
}
