.jumbotron{
    background-color: aqua;
}
h1{
    font-weight: 400!important;
    font-family: 'Kufam', cursive;
}
.container{
    max-width: 100%;
}
.input-group{
    max-width: 100%;
}
#search{
    width: 100%;
    margin-bottom: 10px;
}
#search:hover{
    background-color: rgb(143, 143, 143);
    color:white;
}